.bold {
    font-weight: bold;
}

.horizontal {
    display: grid;
    float:inline-end;
    grid-template-columns: auto auto;
    text-align: left;

    gap: 100px;
}

.diff-font {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.byu {
    color: #0047BA;
}

.svc {
    color: #ab192d;
}

.employment-experience {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.employment-period {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller !important;
}

.portfolio-item {
    height: 400px !important;
    background-color: #002E5D;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}