* {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #cedadd;
}

.bold {
    font-weight: bold;
}

#nav {
    left: 0;
    width: 300px;
    height: 100vh;
    margin: 0;
    
    position: fixed;

    list-style: none;
    text-decoration: none;

    background-color: white;
}
#nav h2 {
    text-align: center;
}
#nav ol {
    text-indent: 24px;
}
#nav a {
    margin-left: 0;
    padding-left: 0;
    text-indent: 24px;

    color: inherit;
    text-decoration: inherit;
}
#nav li:hover {
    color: white;
    background-color: #cedadd;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

ol, ul {
    list-style: inherit;
    text-decoration: inherit;
}

#main {
    position: absolute;
    top: 5vw;
    left: 400px;
    right: 150px;

    height: 200vh;
}

.bubble {
    width: fit-content;
    height: fit-content;
    padding: 4vw 4vw;
    margin-bottom: 2vw;

    background-color: white;
    border-radius: 7.5vw;
}

.title {
    width: auto;
    text-align: center;
    color: white;
    background-color: #476483;
}

.captioned-header h1 {
    margin: 0;
    border-bottom: 1px solid lightgray;
}
.captioned-header em {
    margin-top: 0;
}

.container {
    height: fit-content;
    margin: 2vw;
    padding: 12px;

    background-color: lightgray;

    border-radius: 2vw;
}

button {
    margin: 12px;
    padding: 12px;

    color: white;
    font-size: large;
    font-weight: bold;

    background-color: #476483;

    border-radius: 12px;
    border-style: solid;
}
button:hover {
    cursor: pointer;
    background-color: #102349;
    border-color: white;
}

img {
    width: 20vw;
    margin: 12px;

    border-radius: 1vw;
}

iframe {
    margin-left: 2vw;
}

.tableauViz {
    width: 50vw;
    padding: 24px;
}